<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}">HOME</a>
            <form class="d-flex">
                {% if session and session.get('username') %}
                <span>
                    Hello, {{ session['username'] }}
                </span>
                <a href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                <a href="{{ url_for('login') }}">Log In</a>
                {% endif %}
            </form>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
